<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,200&display=swap" rel="stylesheet">

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/StyleSheet1.css')}}">
    <title></title>

</head>

<body>

    <div class="headerLogo">
        <span>KPANG</span>
    </div>

    <div class="headerProject">
        <span>Making MoM</span>
    </div>

    <div class="makingmom">
        <p>Making <span>MoM</span></p>
    </div>

    <div class="ver">
        <p>- Speech Diarization <span>ver.(BETA)</span> -</p>
    </div>

    <div class="results">
        <div class="drresult">
            <div class="contents">

                    {{ data1|safe }}

            </div>
        </div>
        <div class="drresult">
            <div class="contents">

<!--                {% autoescape false %}-->
                    {{ data2|safe }}
<!--                {% endautoescape %}-->

            </div>
        </div>
    </div>
</body>
</html>
