<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,200&display=swap" rel="stylesheet">

    <meta charset="utf-8" />
    <link rel="stylesheet" href = "{{url_for('static',filename='css/StyleSheet1.css')}}">
    <title></title>

</head>

<body>
    <div class="headerLogo" >
        <span>KPANG</span>
    </div>

    <div class="headerProject">
        <span>Making MoM</span>
    </div>

    <div class="makingmom">
        <p>Making <span>MoM</span></p>
    </div>

    <div class="blank">

    </div>

    <div class="error">
        <div class="error_text">
            <span> ! </span>
            <p>.mp4 외 형식은 지원되지 않습니다.<p>
            <p>다시 시도해 주세요.</p>
        </div>
    </div>
</body>
</html>