<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,200&display=swap" rel="stylesheet">

    <meta charset="utf-8" />
    <link rel="stylesheet" href = "{{url_for('static',filename='css/StyleSheet1.css')}}">
    <title></title>

</head>

<body>
    <div class="headerLogo">
        <span>KPANG</span>
    </div>

    <div class="headerProject">
        <span>Making MoM</span>
    </div>

    <div class="makingmom">
        <p>Making <span>MoM</span></p>
    </div>


    <div class="file">
        <div class="filename">
            <p>{{file_name}}</p>
        </div>
    </div>

    <div class="boxes">
        <button type="button" class="box1" onclick="window.location.href='{{ url_for('origin') }}'">
         Origin
        </button>

        <button type="button" class="box2" onclick="window.location.href='{{ url_for('summary') }}'">
         Summary
         <a href="SummaryPage.html">
        </button>

        <button type="button" class="box3" onclick="window.location.href='{{ url_for('ner') }}'">
         NER
         <a href="NERPage.html">
        </button>
    </div>




</body>

</html>