<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,200&display=swap" rel="stylesheet">

    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/StyleSheet1.css')}}?after">
    <title></title>

</head>

<body>

    <div class="headerLogo">
        <span>KPANG</span>
    </div>

    <div class="headerProject">
        <span>Making MoM</span>
    </div>

    <div class="makingmom">
        <p>Making <span>MoM</span></p>
    </div>

    <div class="ver">
        <p>- Origin <span>ver.</span> -</p>
    </div>

    <div class="result">
        <p>{{data}}</p>
    </div>


    <div class="download">
        <form method="POST" form action="http://localhost:5000/originpage_download" enctype="multipart/form-data">
            <button type="submit" class="down_button">
                Download
            </button>
        </form>
    </div>
</body>
</html>
